---
---

@import "{{ site.theme }}";

$brand-color: #862D1D;
$old-brand: #7ebf85;

$body-text-color: #212121;
$header-bg-color: #532E38;
$header-bg-color-secondary: $header-bg-color-secondary;

body {
    background: #FFEEC4;
    color: $body-text-color;
}

.page-header {
    background-color: $header-bg-color;
    background-image: none;
}

.project-name {
    text-transform: uppercase;
}

.industry-item {
    display: flex;
}
.industry-logo {
    margin-right: 1rem;
}

.main-content h3 {
    text-align: center;
    font-size: 2rem;
    color: inherit;
}
.main-content h3::after {
    content: '';
    display: block;
    background: $brand-color;
    height: 2px;
    width: 5rem;
    margin: auto;
}

.main-content h5 {
    display: flex;
    font-size: inherit;
    font-weight: bold;
    color: inherit;
    margin-top: 1rem;
    margin-bottom: 0;
}
.main-content h5 em {
    font-weight: normal;
    margin-left: auto;
    margin-right: 1rem;
}

@media (max-width: 500px) {
    .industry-logo {
        width: 40px;
        height: 40px;
    }
}
