---
---

@import "{{ site.theme }}";

$brand-color: #7ebf85;

.page-header {
    background-color: $brand-color;
    background-image: linear-gradient(120deg, darken($brand-color, 30%), $brand-color);
}

.project-name {
    text-transform: uppercase;
}

.main-content h5 {
    font-size: 1rem;
    font-weight: bold;
    color: inherit;
    margin-top: 1rem;
    margin-bottom: 0;
}
